@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #cd8745, #0ab3cf);
}

.container { 
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}